.header {
    height: 100px;
    background-color: rgb(185, 4, 4);
    padding: 10px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-icon {
    color: var(--white-color);
    margin-left: 3px;
}


.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item-titile--no-pointer {
    color: var(--white-color);
    cursor: text;
}

/* Header with search */
.header-with-search {
    height: 50px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 50%;
    margin-right: 14px;
}

.header__logo-img {
    width: 250px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    width: 500px;
    flex: 1;
    border-radius: 3px;
    align-items: center;
    display: flex;
}

.header__cart {
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.header__cart-icon {
    font-size: 2rem;
    width: 50px;
    color: var(--white-color);
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 8px;
    border-radius: 3px;
}

.header__search-btn {
    background-color: red;
    border: none;
    height: 33px;
    width: 60px;
    border-radius: 5px;
    margin: 0 8px;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.mt-110 {
    margin-top: 110px;
}

/* Trang chủ */

.item-hp:hover {
    transform: scale(1.05);
}

.card-hp:hover {
    transition: all 0.3s;
    background: red;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f5ff5f;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}